<ion-view >
  <ion-nav-title >Welcome  To Facebook</ion-nav-title>
  
  <ion-content  >


<div class="item item-divider"  style="text-align:center;background-color:pink;">
    相片瀏覽</div>
   
<div class="list card" >
<ion-slide-box on-slide-changed="slideHasChanged($index)">
       <ion-slide>
        <div class="slider-slide-image">
          <img src="/Muse.jpg"/>
        </div>
          
      </ion-slide>
      <ion-slide>
        <div class="slider-slide-image">
          <img src="/hh3.jpg"/>
        </div>
          
      </ion-slide>
      <ion-slide>
        <div class="slider-slide-image">
          <img src="/hh1.jpg"/>
        </div>
          
      </ion-slide>
      <ion-slide>
        <div class="slider-slide-image">
          <img src="/hh4.jpg"/>
        </div>
          
      </ion-slide>
   
      <ion-slide>
        <div class="slider-slide-image">
          <img src="/hh6.jpg"/>
        </div>
          
      </ion-slide>
      <ion-slide>
        <div class="slider-slide-image">
          <img src="/hh2.jpg"/>
        </div>
          
      </ion-slide>
      
    
      <ion-slide>
        <div class="slider-slide-image">
          <img src="/hh7.jpg"/>
        </div>
          
      </ion-slide>
      
      
      
    </ion-slide-box>
   </div>
  <div class="button-bar " >
  <a class="button" style="background-color:	#FF8888;" onClick="alert('上傳功能有待研究XD' )">上傳照片</a>
  <a class="button" style="background-color:pink;">查看其他相簿</a>
  <a class="button" style="background-color:#FFCCCC;">新增相簿</a>
</div>


  </ion-content>
</ion-view>
