<ion-view cache-view="false">
  
  <ion-nav-title >Welcome  To Facebook</ion-nav-title>
  
  <ion-content>


  <a class="item item-icon-left item-icon-right" href="#" style="background-color:#CCDDFF; ">
    <i class="icon ion-chatbubble-working"></i>
    編輯貼文
    <i class="icon ion-ios-telephone-outline"></i>
  </a>
    <div class="list card">
   
    <div class="item item-input-inset" style="background-color:#FFF0F5; ">
    <a  class="item-input-wrapper" style="background-color:#FFFFF0; width:400px ;height:100px;">
      <input id="abc" type="text" placeholder=" 想說些啥呢" />
     <!--onclick="javascript:location.href='/tab/demo'"-->
    </a>
    <button class="button button-small" ng-click="logger.edit()" >
      Submit
    </button>
  </div>
  </div>
  </ion-content>
</ion-view>
