<ion-view >
  <ion-nav-title >Setting and Share</ion-nav-title>
  
  <ion-content  >
    
   
        <div class="list">
          <div class="item item-divider" style="background-color:pink; ">
    設定</div>
    
  <ul class="list card">
    
    
   
    <a class="item item-icon-left" href="#">
      <i class="icon ion-person"></i>
   
    帳號設定
  </a>
  
  <a class="item item-icon-left" href="#">
    <i class="icon ion-tshirt"></i>
    主題
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-playstore"></i>
    
   商店
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-help-circled"></i>
    
   常見問題
  </a>
  </ul>
  
<div class="list">
          <div class="item item-divider" style="background-color:pink; ">
    分享連結開關</div>
    <ul class="list card">
  <li class="item item-toggle">
     Facebook
     <label class="toggle toggle-positive"> 
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Line 
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    <li class="item item-toggle">
     Instagram 
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>
<button class="button button-block button-assertive" ng-click="logger.logout()">
             登出 
          </button>

          
        </div>   </div>   
  </ion-content>
</ion-view>