
<ion-tabs class="tabs-stable tabs-icon-top tabs-color-dark" ng-cloak>
  <ion-tab title="我的塗鴉牆" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="/tab/demo">
    <ion-nav-view name="tab-demo"></ion-nav-view>
    
  </ion-tab>
  
  <ion-tab title="相簿" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" href="/tab/demoshare">
    <ion-nav-view name="tab-demoshare"></ion-nav-view>
  </ion-tab>

  <ion-tab title="關於" icon-on= "ion-ios-person" icon-off="ion-ios-person-outline" href="/tab/demofriend">
    <ion-nav-view name="tab-demofriend"></ion-nav-view>
  </ion-tab>

  <ion-tab title="設定" icon-on= "ion-ios-toggle" icon-off="ion-ios-toggle-outline" href="/tab/demosetting">
    <ion-nav-view name="tab-demosetting"></ion-nav-view>
  </ion-tab>

  

  



</ion-tabs>